html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
	margin-top: 5%;
}


.box{
	height: 50px;
	width: 50%;
	float: left;
	margin-top:10%;
	margin-bottom:3%;
	-webkit-box-shadow: 19px 35px 35px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 19px 35px 35px 4px rgba(0,0,0,0.75);
	box-shadow: 19px 35px 35px 4px rgba(0,0,0,0.75);

}

#outcome{
	width: 20%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 1%;
}

#run{
	font-size: 200%;
	background:transparent;
	border: none;
}

#run:hover{
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}

#run:focus{
	border:none;
	outline:none;
}

#copyCode{
	font-size: 200%;
	background:transparent;
	border:none;
	color: white;
}

#copyCode:hover{
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}

#copyCode:focus{
	border:none;
	outline:none;
}
